body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}


/*BACKGROUND ANIMATION*/

#vantajs {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*HAMBURGERMENU*/

nav {
    margin-top: 0;
}

.fa-bars {
    font-size: 2rem;
    margin: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none;
    position: fixed;
    top: 3em;
    left: 0;
    padding: 0;
    margin: 1rem;
}

li {
    padding: 0.3rem;
}


/*HEADINGS*/

.rubrikerFramsida {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 6vw;
}

h2 {
    margin: 0;
    font-size: 2vw;
}


/*ARROW*/

.fa-chevron-down {
    font-size: 2rem;
}


/*ANIMATION FOR JUMPING ARROW*/

@keyframes jump {
    0% {
        top: -2rem;
    }
    50% {
        top: 0rem;
    }
    100% {
        top: -2rem;
    }
}

.arrow-down {
    animation: jump 5s infinite;
}


/*ANIMATION FOR TRAIN*/

@keyframes slide {
    0% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -50px;
    }
}

.trainDiv {
    background-color: rgb(6, 27, 48);
    width: 100%;
    overflow: hidden;
}

.fa-shuttle-van {
    font-size: 2rem;
    position: relative;
    animation: slide 15s ease-in-out infinite;
}
