/* MEDIA QUERY for mobile sceens*/
@media screen and (max-width: 668px) {
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 5vw;
    }
    main {
        flex-wrap: wrap;
    }
    p, li {
        font-size: unset;
    }
    footer {
        justify-content: unset;
    }
}
/*MEDIA QUERY for tablets*/
@media screen and (max-width: 900px) {
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 3vw;
    }
    img {
        width: 65%;
    }
    
}