body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
}


/*BAKGRUNDSANIMATIONEN*/

#vantajs {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*HAMBURGERMENY*/

nav {
    margin-top: 0;
}

.fa-bars {
    font-size: 2rem;
    margin: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 3em;
    left: 0;
    padding: 0;
    margin: 1rem;
}

li {
    padding: 0.3rem;
}


/*RUBRIKERNA*/

.rubrikerFramsida {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 6vw;
}

h2 {
    margin: 0;
    font-size: 2vw;
}


/*PILEN*/

.fa-chevron-down {
    font-size: 2rem;
}


/*Animation för pilen som studsar*/

@keyframes jump {
    0% {
        top: -2rem;
    }
    50% {
        top: 0rem;
    }
    100% {
        top: -2rem;
    }
}

.arrow-down {
    animation: jump 5s infinite;
}


/*Animation för "tåget"*/

@keyframes slide {
    0% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -50px;
    }
}

.move {
    background-color: rgb(6, 27, 48);
    width: 100%;
    overflow: hidden;
}

.fa-shuttle-van {
    font-size: 2rem;
    position: relative;
    animation: slide 15s ease-in-out infinite;
}


/*Allt nedanför tåget*/

main {
    display: flex;
    flex: 1 100%;
    background-color: black;
}

main div {
    background-color: rgb(6, 27, 48);
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    justify-content: space-around;
    background-color: darkgrey;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: wheat;
}